CompileFlags:
  Add:
    - "-I/usr/local/cuda/targets/x86_64-linux/include/cccl"
    - "--cuda-path=/usr/local/cuda"
    - "-x"
    - "cuda"
  Remove:
    - "-forward-unknown-to-host-compiler"
    - "--options-file"
    - "-arch=*"
    - "-x"

Diagnostics:
  Suppress:
    - template_arg_list_different_arity
    - no_member_template_suggest